.top-90 {
  top: 310px;
  right: 0px;
}
/* Definición ancho de una sección de BookTutors hasta md */
@media (max-width: 768px) {
.widthBookTutors{
  width: 80%;
}
}

/* Definición de tamaño de letra para sm */
@media (max-width: 962px) {
  .font-size-sm {
    font-size: 2rem;
  }
}

/* Definición de tamaño de letra apartir de md*/
@media (min-width: 962px) {
  .font-size-md-up {
    font-size: 3rem;
  }
}

/* Definición altura de BookInfo */
@media (min-width: 768px) {
  .heightReserveinfo {
    min-height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .top-90 {
    top: 220px;
    right: 0px;
  }
  .heightReserveinfo {
    min-height: 500px;
  }
}

@media (min-width: 1400px) {
  .top-90 {
    top: 320px;
    right: 60px;
  }
}
